global:
  timezone: Europe/Zurich
  timezonePath: /etc/localtime
  springDebug: false
  namespace: spring-6-rest-mvc

replicaCount: 1

image:
  # Those values are set by Maven filtering
  # and will be replaced with a valid version number during the build process.
  registry: @docker.repo@
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8081
  targetPort: 8081
  nodePort: 30081

externalAccess:
  host: "localhost"
  protocol: "http"

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

spring:
  profiles:
    active: mysql
  oauth2ResourceServer:
    issuerUri: ""

probes:
  startup:
    failureThreshold: 30
    periodSeconds: 10
  readiness:
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
  liveness:
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6

mysql:
  enabled: true

  database: restmvcdb

  port: 3306
  targetPort: 3306
  nodePort: 30306

  user: restadmin
  password: password

  rootPassword: verysecret

  serviceFQDN: "spring-6-rest-mvc-mysql.spring-6-rest-mvc.svc.cluster.local"

kafka:
  enabled: true
  port: 9092
  serviceFQDN: "spring-6-rest-mvc-kafka.spring-6-rest-mvc.svc.cluster.local"

authServer:
  enabled: true

  port: 9000
  targetPort: 9000
  nodePort: 30900

  serviceFQDN: "spring-6-rest-mvc-spring-6-auth-server.spring-6-rest-mvc.svc.cluster.local"

ingress:
  enabled: false

# Section for overriding values in subcharts.

spring-6-auth-server:
  spring:
    issuer:
      uri: "http://spring-6-rest-mvc-spring-6-auth-server.spring-6-rest-mvc.svc.cluster.local:9000"


