<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringRestMvcApplication With H2" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="spring-6-rest-mvc" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.dboeckli.spring.restmvc.SpringRestMvcApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>