<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringRestMvcApplication localmysql" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="localmysql" />
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="spring-6-rest-mvc" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.springframeworkguru.springrestmvc.SpringRestMvcApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
